<div id="map"></div>
<div class="map-toolbar">
<div class="map-inputs-container">
    <%= label_tag "address", nil, class: "address" %>
    <input autofocus="true" id="address" type="textbox" placeholder="Enter new address...">
    <input type="button" value="Encode" onclick="yourLLC.codeAddress()">
</div>
</div>