<h3>Saved locations:</h3>
<table id="locations-table" class="table table-addresses table-hover table-striped">
<thead>
    <tr>
    <th scope="col">Address</th>
    <th scope="col">Latitude</th>
    <th scope="col">Longitude</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<nav aria-label="Pagination for #locations-table">
  <ul id="locations-pagination" class="pagination">
  </ul>
</nav>
<script>
    // TODO: Indicate loading/failed states
    // TODO: Prevent async issues
    var crntPageNum = 1;
    var Page = {
        get crntNum() {
            return crntPageNum;
        },
        get pageLinks() {
            return document.querySelectorAll('#locations-pagination .page-link');
        },
        set crntNum(nextPageNum) {
            $($('#locations-pagination .page-item')[crntPageNum - 1]).removeClass('active');
            $($('#locations-pagination .page-item')[nextPageNum - 1]).addClass('active');
            crntPageNum = nextPageNum;
        },
        set locations(locations) {
            $('#locations-table tbody').html((function htmlCb(){
                return locations.reduce(function reduceCb(rows, location) {
                    return rows +
                        '<tr onclick="yourLLC && yourLLC.panTo(' + location.latitude + ',' + location.longitude + ')">' +
                            '<th scope="row">' + location.formatted_address + '</th>' +
                            '<td>' + location.latitude + '</td>' +
                            '<td>' + location.longitude + '</td>' +
                        '</tr>';
                }, '');
            }));
        },
        setClickDelegation() {
            $('#locations-pagination').on('click', '.page-link', function onClick(event) {
                var pageClicked = parseInt(event.target.innerText, 10);
                if (pageClicked !== Page.crntNum) {
                    Page.crntNum = pageClicked;
                    fetchLocations({ page: pageClicked });
                }
            });
        },
        renderNumLinks(num) {
            $('#locations-pagination').html((function (){
                var links = '';
                for (var index = 0; index < num; index++) {
                    links +=
                        '<li class="page-item' + (Page.crntNum == (index + 1) ? ' active' : '') + '">' +
                            '<a class="page-link">' + (index + 1) + '</a>' +
                        '</li>';
                }
                return links;
            }));
        }
    };
    function fetchLocations(args) {
        $.getJSON('/locations', { page: args.page })
        .done(function doneCb(results){
            Page.locations = results.locations;

            var numNewPageLinks = Math.ceil(results.count / results.perPage); 
            if (numNewPageLinks !== Page.pageLinks.length) {
                Page.renderNumLinks(numNewPageLinks);
            }
        })
        .fail(alert); // TODO Prettify
    }

    Page.setClickDelegation();
    fetchLocations({ page: 1 });
</script>