<div id="color-swatch">
    <div class="color-1">
    </div>
    <div class="color-1-b">
    </div>
    <div class="color-1-c">
    </div>
    <div class="color-2">
    </div>
    <div class="color-2-b">
    </div>
    <div class="color-2-c">
    </div>
</div>